<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>testing</title>
  </head>
  <body>
    <div>
      <ul>
        <li href="http://127.0.0.1:8000/monthly/2">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/3">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/1">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/4">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/5">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/6">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/7">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/8">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/9">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/10">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/11">testing_good</li>
        <li href="http://127.0.0.1:8000/monthly/12">testing_good</li>
      </ul>
    </div>
  </body>
</html>
